html{
    font-size: 1.31vw;
}

.link-white{
    display: inline-block;
    color: #FFFFFF;
    font-weight: 500;
    font-size:0.6rem;
    line-height: 1.3;
}
.block01{
    margin-right: -1.25rem;
    margin-left: -1.25rem;
    overflow: hidden;

}
.block01__header{
    overflow: hidden;
    padding: 0 1.15rem;
    display: flex;
}
.block01__logo svg{
    width: 7.8rem;
    height:2rem;
}
.block01__logo{
    flex-basis: 20%;
    box-sizing: border-box;
   

}
.block01__info{
    flex-basis: 80%;
    box-sizing: border-box;
    padding-top: 2.55rem;


}

.block01__menu1  li{
    display: inline-block;
    list-style-type: none;
    font-size: 0.55rem;
    line-height: 2.4; 
    margin-right: 3.4rem;
  
}
.block01__menu2 li{
    display: inline-block;
    list-style-type: none;
    font-size: 0.55rem;
    line-height: 2.4; 
    margin-right: .5rem;
}
.block01__menu1  li:last-child{
    float: right;
    margin-right: 0;
}
.block02__wrap{
    position: relative;

}
.block02{
    background: #FFFFFF;
    box-shadow: 0rem 1.35rem 1.95rem rgba(163, 204, 64, 0.18);
    border-radius: .5rem;
    position: absolute;
    min-height: 11.05rem;
    min-width: 21.3rem;
    right: 0;
    top: 0;
    transform: translateY(-77%);
}
.block02__text1{
    font-style: normal;
    font-weight: 600;
    font-size: 1.65rem;
    line-height: 1.3;
    color: #333333;
    margin-bottom: 1.1rem;
    margin-top: 1.5rem;
    
}
.block02__text2 p{
    font-style: normal;
    font-weight: normal;
    font-size: 0.55rem;
    line-height:1.3;
    color: #333333;
    margin-bottom: 1rem;
}
.block02__descr{
    padding-left: 2.35rem;
    padding-right: 2.35rem;
    max-width: 16.6rem;
}
.container{
    background: url(../images/BackgrooundPicture.jpg) no-repeat center / cover; color: #161616;
    min-height: 36.4rem;
    width:100%;
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.container::after{
    content: "";
    display: block;
    border-bottom: 5rem solid white;
    border-left: 100vw solid transparent;
    bottom: 0;
    left: 0;
    position: absolute;
}

.container__container1{
    max-width: 47.35rem;
    margin: 0 auto;
    padding: 0 1.25rem;
}
.link-call{
    padding:0.1rem 0.35rem 0.15rem 0.4rem;
    border-radius: .3rem;
    border: 2px;
    background: white;
    width: 6.5rem;
    transition: 1s;
}
.link-call:hover{
    background: #A3CC40;
    border-bottom: 1px; color: #FFFFFF;

}

.row1{
    box-sizing: border-box;
    text-align: center;
   
}
.row1 img{
    width: 100%;
}
.block03{
    display: grid;
    gap: 2.5rem 1.9rem;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 7.2rem;
}
.block04{
    margin-bottom: 5.35rem;
}
.block04 p{
    margin: 1.7rem auto 0;
    max-width: 27rem;
}
.block05{
    margin-bottom: 4.5rem;
    background:url("../images/presentblackout.jpg") no-repeat center / cover;
    overflow: hidden;
   
}
.block05::before{
    content: "";
    display: block;
    border-top: 5rem solid white;
    border-right: 100vw solid transparent;
    top: 0;
    left: 0;
}
.block05::after{
    content: "";
    display: block;
    border-bottom: 5rem solid white;
    border-left: 100vw solid transparent;
    bottom: 0;
    left: 0;
}
.block05__text1{
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 1.3;
    color: white;
    margin-bottom: 1.9rem;
}
.block05__text2 p{
    font-weight: 400;
    font-size: .55rem;
    line-height: 1.3;
    color: white;
    margin-bottom: 1.3rem;
}
.block05__text3{
    background: #A3CC40;
    border-radius: 6px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: .7rem;
    line-height: 1.3;
    align-items: center;
    text-align: center;
    border: #A3CC40;
    padding: .3rem .9rem .35rem .9rem;
    transition: 1s;
}
.block05__text3:hover{
    background: white;
    color:#A3CC40 ;

}
.block05__descr{
    padding: 4.8rem 0;
    max-width: 27.5rem;
    margin-left: auto;
    text-align: right;
    margin-top: -3.75rem;
}
.container3{
    max-width: 42.5rem;
    margin: 0 auto;
    padding: 0 .75rem;
}
.block-present__wrap{
    position: relative;
}
.block-present__img{
    display: block;
    border-radius: 100%;
    position: absolute;
    top: -3.75rem;
    max-width: 15.1rem;
}
.block06{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 3.9rem;
    overflow: hidden;
}
.films__text{
    margin-bottom: 1.5rem;
    max-width: 27.4rem;
    font-style: normal; 
    font-weight: normal;
    font-size: .55rem;
    line-height: 1.3;
    color: #333333;

}

.block06__bg img{
    width: 100%;
}
.block06__movie1{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.block06__movie1:hover .block06__shadow{
    opacity: 0;

}
.block06__movie1:hover .block06__descr{
    transform: translate(0);
    animation-delay: 0.3s;

}
.block06__shadow{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(22, 22, 22, 0.8);
    transition: 0.4s;
}
.block06__descr{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(144, 210, 61, 0.4);
    padding: 1.1rem;
    transform: translate(100%);
    
}
.block06__text2{
    font-weight: normal;
    font-size: .55rem;
    line-height: 1.27;
    color:  #FFFFFF;
    margin-bottom: .65rem;
    
}
.block06__text1{
    font-weight: 600;
    font-size: 1.45rem;
    line-height: 1.3;
    color:  #FFFFFF;

}
.block07__item img{
    display: block;
}
.block07__item{
    float: left;
    width: 33.33%;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 1.25rem;
}
.block07__common{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}
.block07__bg{
    background: rgba(163, 204, 64, 0.8);
    position: absolute;
    right: 0;
    left: 0;
    top: 8.65rem;
    bottom: -2.25rem;
    transform: skew(0, -20deg);

}
.block07__abs{
    color:  #FFFFFF;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.3;
    text-align: center;
    padding: 12.5rem 1.5rem 1.5rem;
    position: relative;
}
.block07__goods{
    overflow: hidden;
    margin-bottom: 2.5rem;
}
.block07__text1{
    font-weight: normal;
    font-size: .55rem;
    line-height: 1.3;
    margin-bottom: 2.5rem;
    max-width: 27.4rem;
}
.block07__item img{
    width: 100%; 
}
.block07__wrap{
    position: relative;
}
.block07__list{
    margin-right: -1.25rem;
    margin-left: -1.25rem;
}
.block08{
    background: url("../images/review.jpg") no-repeat center / cover;
    overflow: hidden;
    position: relative;
    padding-bottom: 7.15rem;
    margin-bottom: 2.15rem;
}
.block08__review{
    float: left;
    padding: 0 1.5rem;
}
.block08__review1{
    background: #97B13C;
    border-radius: 0.45rem;
    max-width: 10.5rem;
    margin-top: 4.45rem;
}
.block08__review1 img{
    width: 100%;
    border-radius: 0.4rem 0.4rem 0rem 0rem;
}
.block08__bg1{
    border-radius: 0.45rem 0.45rem 0rem 0rem;
    max-width: 210vw;
    max-height: 153vh;
    left: 7.1rem;
    top: 244rem;
    margin-bottom: .85rem;
}
.block08__text1{
    font-style: normal;
    font-weight: normal;
    font-size: .55rem;
    line-height: 1.3;
    color: #FFFFFF;
    margin-bottom: 3.75rem;
    max-width: 27.4rem;
}
.block08__text2{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: .75rem;
    line-height: 1.3;
    margin-bottom: .7rem;
}
.block08__text3{
    font-style: normal;
    font-weight: normal;
    font-size: .5rem;
    line-height: 1.3;
    color: #FFFFFF;
    max-width: 9.3rem;
    padding-bottom: 1.1rem;
}
.block08__descr1{
    max-width: 9.3rem;
    margin: 0 auto;
}
.block08::before{
    content: "";
    display: block;
    border-top: 5rem solid white;
    border-right: 100vw solid transparent;
    top: 0;
    left: 0;
}
.block08::after{
    content: "";
    display: block;
    border-bottom: 5rem solid white;
    border-left: 100vw solid transparent;
    bottom: 0rem;
    left: 0rem;
    position: absolute;
}
.block08__review2{
    background: #97B13C;
    border-radius: .5rem;
    width: 12.3rem;
    margin-bottom: 2.6rem;
}
.block08__bg2{
    width: 12.25rem;
    height: 8.9rem;
    left: 22.05rem;
    top: 242.8rem;
    border-radius: .5rem .5rem 0rem 0rem;
    margin-bottom: .85rem;
}
.block08__descr2{
    max-width: 11rem;
    margin: 0 auto;
}
.block08__text4{
    font-style: normal;
    font-weight: 600;
    font-size: .9rem;
    line-height: 1.3;
    color: #FFFFFF;
    margin-bottom: .9rem;
}
.block08__text5{
    font-style: normal;
    font-weight: normal;
    font-size: .55rem;
    line-height: 1.3;
    color: #FFFFFF;
}
.block08__bg3{
    background: url("../images/review.jpg");
    border-radius: .4rem .4rem 0rem 0rem;
    width: 10.5rem;
    height: 7.6rem;
    left: 38.8rem;
    top: 244.05rem;
    margin-bottom: .7rem;
}
.block08__review3{
    background: #97B13C;
    border-radius: .45rem;
    width: 10.5rem;
    height: 14.2rem;
    left: 38.8rem;
    top: 244.05rem;
    margin-top: 4.45rem;

}
.block08__descr3{
    max-width: 8.55rem;
    margin: 0 auto;
}
.block08__text6{
    font-style: normal;
    font-weight: 600;
    font-size: .75rem;
    line-height: 1.3;
    color: #FFFFFF;
    margin-bottom: .6rem;

}
.block08__text7{
    font-style: normal;
    font-weight: normal;
    font-size: .5rem;
    line-height: 1.3;
    color: #FFFFFF;
    margin-bottom: 1.65rem;
}
.block09{
    background: #FFFFFF;
    box-shadow: .4rem .45rem 1.95rem rgba(185, 185, 185, 0.37);
    border-radius: 1rem;
    max-width: 38.35rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.05rem;
    overflow: hidden;
}
.block09__row{
    display: flex;
}
.block09__left{
    flex: 0 0 50%;
    background: url("../images/block9.jpg") no-repeat center / cover;
    position: relative;
}
.block09__left::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(270deg, #FFFFFF 12.2%, rgba(30, 30, 30, 0) 107.85%);
}
.block09__rigth{
    flex: 0 0 50%;
    padding: 1.25rem .75rem;
}
.block09__dscr{
    max-width: 17.2rem;
}
.block09__text1{
    margin-bottom: 1rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.3;
    color: #A3CC40;
    width: 100%;
}
.block09__text2-name{
    margin-bottom: 1.65rem;
    background: #DEDEDE;
    border-radius: .25rem;
    font-style: normal;
    font-weight: normal;
    font-size: .75rem;
    line-height: 1.3;
    color: #A1A1A1;
    border: #A1A1A1 ;
    width: 100%;
    padding: .6rem 0rem .6rem .8rem;
    box-sizing: border-box
}
.block09__text3-places{
    margin-bottom: 1.5rem;
    background: #DEDEDE;
    border-radius: .25rem;
    border: #A1A1A1;
    color: #A1A1A1;
    width: 100%;
    padding: .5rem 0px .5rem .5rem;
    box-sizing: border-box;
    font-size: .75rem;

}
.block09__text4-review{
    margin-bottom: 1.45rem;
    font-style: normal;
    font-weight: normal;
    font-size: .75rem;
    line-height: 1.3;
    color: #A1A1A1;
    background: #DEDEDE;
    border-radius: .25rem;
    border: #A1A1A1;
    width: 100%;
    padding: .8rem 0rem 4.35rem .8rem;
    box-sizing: border-box;

}
.block09__text5{
    margin-bottom: 2.4rem;
}
.block09__check{
    display: none;
}
.block09__text5-checkbox{
    font-style: normal;
    font-weight: normal;
    font-size: .5rem;
    line-height: 1.3;
    color: #333333;
    border: #A1A1A1;
    display: flex;
    align-items: center;
}
.block09__text5-checkbox:before{
    content: "";
    margin-right: .3rem;
    width: .9rem;
    height: .9rem;
    border-radius: .25rem;
    border: 1px solid #A3CC40;
    flex: none;
}
.block09__check:checked + label:before{
    background: url("../images/icon.svg") no-repeat center  #A3CC40;
    
}
.block09__text6{
    background: #A3CC40;
    border-radius: .3rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.3;
    color: #FFFFFF;
    border: #A3CC40;
    width: 100%;
    padding: .75rem 1.6rem .75rem 1.6rem;
    transition: 0.5s;
}
.block09__text6:hover {
    background: white;
    color: #A3CC40;
}

.block10{
    margin: 0 auto;
    max-width: 48.65rem;
}
.block10 img{
    max-width: 100%;
}
.block__footer{
    overflow: hidden;
    width: 100%;
    background: #A3CC40 no-repeat center;
}
.block__footer-logo{
    display: block;
    max-width: 8.05rem;
    margin-bottom: .75rem;
}
.block__footer-text1{
    max-width: 13.45rem;
    font-style: normal;
    font-weight: normal;
    font-size: .7rem;
    line-height: 1.3;
    color: #FFFFFF;
  

}
.block__footer-col1{
    margin-bottom: 1.25rem;
    box-sizing: border-box;
    padding: 0 1.25rem;
    flex: 50%;
    
}
.block__footer-col2{
    margin-bottom: 5.1rem;
    padding: 0 1.25rem;
    flex: 25%;
    box-sizing: border-box;
    margin-top: 2.7rem;
}
.block__footer-col3{
    margin-bottom: 4.3rem;
    box-sizing: border-box;
    padding: 0 1.25rem;
    flex: 25%;
    margin-top: 2.7rem;
}
.block__footer-saite{
    margin-bottom: 1.1rem;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.3;
    color: #FFFFFF;
    transition: 0.5s;
}
.block__footer-saite-href li {
    margin-bottom: .6rem;
    max-width: 5.55rem;
}
.block__footer-saite-white{
    transition: 0.5s;
}
.block__footer-saite-white:hover {
    background: #DCDCDC;
    border-bottom: 1px solid white;
    max-width: 5.95rem;
}

.block__footer-saite-white{
    font-style: normal;
    font-weight: 500;
    font-size: .6rem;
    line-height: 1.3;
    color: #FFFFFF;
}
.block__footer-contact{
    margin-bottom: 1.1rem;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.3;
    color: #FFFFFF;
}
.block__footer-white{
    font-style: normal;
    font-weight: 500;
    font-size: .6rem;
    line-height: 1.3;
    color: #FFFFFF;
    transition: 0.5s;
}
.block__footer-info li{
   margin-bottom: .6rem;
   
}
.block__footer-white:hover {
    background: #DCDCDC;
    border-bottom: 1px solid white;
    max-width: 5.95rem;
}
.block__footer-copyright{
    font-style: normal;
    font-weight: normal;
    font-size: .75rem;
    line-height: 1.3;
    color: #FFFFFF;
    max-width: 21.8rem;
    margin-bottom: .6rem;
}
.body{
    font-family: 'IBM-Plex-Sans',sans-serif;
}
.social__groop{
  display: inline-block;
  margin-bottom: 2.1rem;
}
.social__groop li{
    margin-right: 1.55rem;
    display: inline-block;

}
.block__footer-wrap{
    margin-right: -1.25rem;
    margin-left: -1.25rem;
    display: flex;

}
.social__groop-net{
    width: 1.55rem;
    height: 1.55rem;
    display: flex;
    border-radius: 5rem;
    align-items: center;
    justify-content: center;
    background: #BEE956;
}
.social__groop-net svg{
    fill: white;
    transition: 0.5s;
}
.social__groop-net:hover svg{
    fill:gray;

}


