
textarea {
    resize: none;
    width: 500px;
}

a {
    text-decoration: none;

}

li {
    display: inline-block;
    list-style-type: none;
    font-size: 12px;
    line-height: 1.33;
   
}
.zagolovok1 h1{
    font-family: 'IBM-Plex-Sans',sans-serif;
    font-weight: 100;
    font-size: 68px;
    line-height: 88px;
    color:  #FFFFFF;
}
.zagolovok1__podzog{
    font-family: 'IBM-Plex-Sans',sans-serif;
    font-weight: normal;
    font-size: 41px;
    line-height: 53px;
    color:  #FFFFFF;
}

.logo {
    width: 156px;
    height: 40px;
    margin-top: 51px;
    margin-right: 44px;
   
}

p {
    font-size: 11px;
    line-height: 14px;
    text-align: center;
    color: #333333;

}



